/************
 @font-face
*************/
@font-face{
    font-family: "Garden Sans";
    src:url("../fonts/Garden Sans.ttf");
    font-style: normal;
    font-weight: 600;
}

@font-face{
    font-family: "steelfish";
    src: url("../fonts/steelfish rg.ttf");
    font-style: normal;
    font-weight: 600;
}
/************
Base Style
*************/
*{
  box-sizing: border-box;
}
h1{
    padding: 0;
    margin: 0;
}
/************
Header Style
*************/
.header{
    text-align: center;
    width: 70%;
    margin: auto;
    max-width: 1200px;
    border-bottom: solid tomato 2px;
}
.header h1{
    font-family: "Garden Sans";
    font-size: 3.5rem;
    text-shadow: 1px 2px 3px tomato;
    margin-top: 1.5rem;
    margin-bottom: .5rem;
}

/**********************
   photo-gallery Layout
***********************/
#photo-gallery a{
 margin: 25px;
}
#photo-gallery{
    width: 70%;
    margin: 1rem auto;
    max-width: 1200px;
    display: grid;  
    grid-template-columns: repeat(auto-fit,minmax(252px,1fr));
}

/**********************
   Footer Layout
***********************/
.footer{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    border-top: solid tomato 2px;
    text-align: center;
    padding: 1rem 0;
}
/******************
*****Sticky Footer
*******************/
.wrap{
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}
.footer{
    margin-top: auto;
}